@model List<RegionStatesViewModel>

@{
    ViewData["Title"] = "Region Selection";
}

<div class="text-center">
    <h3>Select a Region:</h3>
    <form method="post" asp-action="Zones">
        <select name="selectedRegionId">
            @foreach (var zone in Model)
            {
                <option value="@zone.RegionId">@zone.RegionName (@zone.States)</option>
            }
        </select>
        <button type="submit">Alerts</button>
    </form>
</div>
