@model List<StateZonesViewModel>

<h2>Zones</h2>

<div class="text-center">
    <h3>Select a State:</h3>    
        <select id="stateDropdown" name="selectedRegionId" onchange="showZones(this.value)">
            @foreach (var state in Model)
            {
                <option value="@state.State">@state.State</option>
            }
        </select>           
</div>

<div id="zoneAlert"></div>
<div id="zoneTable"></div>

<script>
    function showZones(state) {
        var selectedItem = document.getElementById("stateDropdown").value;
        var data = @Html.Raw(Json.Serialize(Model));
        var stateData = data.filter(item => item.state === selectedItem)[0]

        if (stateData !== undefined) {
            var zoneTable = document.getElementById('zoneTable');
            zoneTable.innerHTML = '';
            stateData.cities.forEach(city => {
                var cityHeader = document.createElement('h4');
                cityHeader.textContent = city.city;
                zoneTable.appendChild(cityHeader);
                if (city.cityZones.length > 0) {
                    var zoneList = document.createElement('ul');
                    city.cityZones.forEach(zone => {
                        var zoneItem = document.createElement('li');
                        zoneItem.textContent = zone.zone;
                        
                        zoneItem.onclick = function () {
                            fetchWeatherAlerts(zone.zone)
                        }
                        zoneList.appendChild(zoneItem);
                    });
                    zoneTable.appendChild(zoneList);
                }
            });
        }
    }

    function fetchWeatherAlerts(zone) {
        fetch(`https://api.weather.gov/alerts/active/zone/${zone}`)
            .then(response => response.json())
            .then(data => {
                var alertsTable = document.createElement('table');
                alertsTable.classList.add('alerts-table');
                var tableHead = document.createElement('thead');
                var headRow = document.createElement('tr');
                var eventHeader = document.createElement('th');
                eventHeader.textContent = 'Event';
                var severityHeader = document.createElement('th');
                severityHeader.textContent = 'Severity';
                var headlineHeader = document.createElement('th');
                headlineHeader.textContent = 'Headline';
                var descriptionHeader = document.createElement('th');
                descriptionHeader.textContent = 'Description';

                headRow.appendChild(eventHeader);
                headRow.appendChild(severityHeader);
                headRow.appendChild(headlineHeader);
                headRow.appendChild(descriptionHeader);
                tableHead.appendChild(headRow);
                alertsTable.appendChild(tableHead);

                var tableBody = document.createElement('tbody');
                data.features.forEach(alert => {
                    var properties = alert.properties;
                    var row = document.createElement('tr');
                    var eventCell = document.createElement('td');
                    eventCell.textContent = properties.event;
                    var severityCell = document.createElement('td');
                    severityCell.textContent = properties.severity;
                    var headlineCell = document.createElement('td');
                    headlineCell.textContent = properties.headline;
                    var descriptionCell = document.createElement('td');
                    descriptionCell.textContent = properties.description;

                    row.appendChild(eventCell);
                    row.appendChild(severityCell);
                    row.appendChild(headlineCell);
                    row.appendChild(descriptionCell);
                    tableBody.appendChild(row);
                });

                alertsTable.appendChild(tableBody);

                var zoneAlert = document.getElementById('zoneAlert');
                zoneAlert.innerHTML = '';
                zoneAlert.appendChild(alertsTable);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>
